* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
#app {
  padding-top: 50px;
}
.container {
  max-width: 1440px;
  padding: 50px 80px;
  margin: 0 auto;
  background-color: #323131;
  color: #fcf6f6;
  display: flex;
  .cart {
    width: 65%;
    margin-right: auto;
  }
  h2 {
    font-size: 2rem;
    text-transform: capitalize;
    padding-bottom: 50px;
  }
  .cart_items {
    width: 100%;
    padding-bottom: 50px;
    .item {
      display: flex;
      border-bottom: 1px solid #aaa;
      padding: 30px;
      .pic {
        width: 20%;
        height: auto;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .item_detail {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        span {
          &:first-child {
            font-size: 1.5rem;
          }
        }
        .count {
          display: flex;
          align-items: center;
          span {
            font-size: 30px;
            cursor: pointer;
            padding: 5px;
          }
        }
        input {
          width: 50px;
          padding: 10px;
          margin: 0 10px;
          text-align: center;
        }
        .price {
          font-size: 1.5rem;
        }
        button {
          padding: 5px;
          cursor: pointer;
          background: none;
          border: none;
          color: #fcf6f6;
          font-size: 20px;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    button {
      background: none;
      border: none;
      color: #fcf6f6;
      text-transform: capitalize;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  .credit_card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2 {
      text-transform: capitalize;
      font-size: 2rem;
      padding-bottom: 0;
    }
    .card_type{
      .card_cover {
        width: 70%;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #ccc;
      }
    }
    .card_name {
      
    }
  }
}